@import 'bourbon/bourbon';
@import 'base/variables';
.xmodule_edit.xmodule_ImageAnnotationDescriptor {
  @import "000-3d2f9902e9ecf2dac554cd9b9e661a89.scss";
}
.xmodule_edit.xmodule_StaticTabDescriptor {
  @import "001-ddaa9dc0d136498f9cc87bf6fde9c1f2.scss";
  @import "000-fd881b119d719927d19ae1ae4b9cb78d.scss";
}
.xmodule_edit.xmodule_VideoAnnotationDescriptor {
  @import "000-3d2f9902e9ecf2dac554cd9b9e661a89.scss";
}
.xmodule_edit.xmodule_TextAnnotationDescriptor {
  @import "000-3d2f9902e9ecf2dac554cd9b9e661a89.scss";
}
.xmodule_edit.xmodule_WordCloudDescriptor {
  @import "000-3d2f9902e9ecf2dac554cd9b9e661a89.scss";
}
.xmodule_edit.xmodule_AboutDescriptor {
  @import "001-ddaa9dc0d136498f9cc87bf6fde9c1f2.scss";
  @import "000-fd881b119d719927d19ae1ae4b9cb78d.scss";
}
.xmodule_edit.xmodule_CapaDescriptor {
  @import "001-63de469b6c3ae783633023b85cd05fd6.scss";
  @import "000-fd881b119d719927d19ae1ae4b9cb78d.scss";
}
.xmodule_edit.xmodule_LTIDescriptor {
  @import "000-3d2f9902e9ecf2dac554cd9b9e661a89.scss";
}
.xmodule_edit.xmodule_RawDescriptor {
  @import "000-3d2f9902e9ecf2dac554cd9b9e661a89.scss";
}
.xmodule_edit.xmodule_VideoDescriptor {
  @import "000-73c262b105b53fab2145793601baa62e.scss";
}
.xmodule_edit.xmodule_HiddenDescriptor {
  @import "000-3d2f9902e9ecf2dac554cd9b9e661a89.scss";
}
.xmodule_edit.xmodule_CourseInfoDescriptor {
  @import "001-ddaa9dc0d136498f9cc87bf6fde9c1f2.scss";
  @import "000-fd881b119d719927d19ae1ae4b9cb78d.scss";
}
.xmodule_edit.xmodule_AnnotatableDescriptor {
  @import "000-3d2f9902e9ecf2dac554cd9b9e661a89.scss";
}
.xmodule_edit.xmodule_HtmlDescriptor {
  @import "001-ddaa9dc0d136498f9cc87bf6fde9c1f2.scss";
  @import "000-fd881b119d719927d19ae1ae4b9cb78d.scss";
}
.xmodule_edit.xmodule_CustomTagDescriptor {
  @import "000-3d2f9902e9ecf2dac554cd9b9e661a89.scss";
}